body {
    background-color: #dfb6b2;
}

.menubar {
    height: 48px;
    width: 500px;
    background-color: #fbe4d8;
    border-radius: 25px;
    margin-left: auto;
    margin-right:auto ;
    margin-top: 25px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width:500px) {
    
    
    .menubar {
        height: 30px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    }
}